@import (reference) "../../ingresso/vendor/bootstrap/less/variables.less";
@import (reference) "../../ingresso/vendor/bootstrap/less/mixins.less";

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: url('../img/fundo-ps-2016.jpg') repeat;
}

/* Cabeçalho */
#header-bg-line {
    background: url('../img/topo-bg-line.png') repeat-x;
    height: 14px;
    max-height: 14px;
    margin-top: @grid-gutter-width / 2;
}

header {
    margin-bottom: @grid-gutter-width / 2;

    .row {
        background: url('../img/fundo-textura.png') repeat;
        max-height: 237px;
        overflow: visible;

        img {
            margin-top: -25px;
        }
    }
}

/* Menu */
.navbar-custom {
    .navbar-nav {
        >li {
            background-color: #fff7ea;
            text-transform: uppercase;
            color: #333;
            font-size: 1.2em;
            margin-right: 8px;
            margin-top: 8px;
            >a {
                color: #333;
            }
        }
        .active {
            background: #fff7ea;
            color: #000;
            >a {
                color: #000;
                font-weight: bold;
            }
        }
    }
    .navbar-toggle {
      border-color: #fff7ea;
      &:hover,
      &:focus {
        background-color: #fff7ea;
      }
      .icon-bar {
        background-color: #000;
      }
    }
}

/* Conteúdo */
.home-aviso {
    background: #fafafa;
    margin-bottom: @grid-gutter-width;
    padding: 8px;

    .aviso-data {
        background-color: #c18131;
        color: #fff;
        cursor: default;
        font-size: 1.3em;
        padding: 5px;
        text-align: center;
        text-transform: capitalize;
    }

    .aviso-titulo {
        >h2 {
            color: #666;
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 28px;
            font-weight: bold;
            >a {
                color: #666;
            }
        }
    }

    .aviso-categorias-title {
        font-size: 0.9em;
    }

    .aviso-categorias {
        display: inline-block;
        list-style: none;
        padding: 5px;
        font-size: 12px;
        margin: 0;
        >li {
            display: inline;
            margin-bottom: 8px;
            &:after {
                content: " | ";
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
            a {
                color: #666;
            }
        }
    }
}

.content {
    background: #f5f5f5;
    padding: @grid-gutter-width / 2;
}

.post-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.post-thumb {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.post-date {
    font-size: 12px;
    font-style: italic;
}

.post-categories {
    list-style: none;
    text-align: right;
    li {
        display: inline;
        margin-left: 4px;
        margin-bottom: 4px;
    }
}

.title {
    margin-top: 0;
}

.cat-title {
    background: #fafafa;
    padding: 8px;
}

.nav-campus {
    border-radius: @nav-pills-border-radius;
    border: 1px solid #337ab7;
    padding: 10px;
}

#resultados {
    .title {
        background-color: #e05726;
        h2 {
            color: #fff;
            font-size: 38px;
            margin-top: 0;
            margin-bottom: 0;
            padding: @grid-gutter-width;
            text-transform: uppercase;
        }
    }
    .content {
        background-color: #fff;
        margin-bottom: @grid-gutter-width;
        padding: @grid-gutter-width;
        p {
            color: #666;
            font-size: 18px;
            margin-bottom: 5px;
        }
        a {
            margin-bottom: 5px;
        }
    }
}

#resultados-campus {
    .nav-tabs {
        border-bottom: none;
        border-radius: 0;
        li {
            margin-bottom: 2px;
            a {
                background-color: #ed9d6c;
                border-color: #ed9d6c;
                border-radius: 0;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                &:hover {
                    background-color: #e05726;
                    border-color: #e05726;
                }
            }
            &.active {
                a {
                    background-color: #e05726;
                    border-color: #e05726;
                }
            }
        }
    }

    .list-group {
        .list-group-item {
            border-color: #e05726;
            border-radius: 0;
        }
    }
}

/* Widgets */
.widget {
    &.banner {
        margin-bottom: @grid-gutter-width;
        overflow: hidden;
        img {
            height: auto;
        }
    }
}

/* Rodapé */
#site-map {
    background: url('../img/rodape-menu-fundo.jpg');
    color: #fff;
    margin-top: @grid-gutter-width;
    padding-top: 24px;
    padding-bottom: 32px;

    a {
        color: #fff;
    }
}

#footer-menu {
    list-style: none;
    padding: 0 0 0 32px;

    >.menu-item {
        display: block;
        float: left;
        margin-right: 64px;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 1.2em;
    }

    .sub-menu {
        list-style: none;
        padding: 0 0 0 8px;
        margin-top: 8px;
        margin-bottom: 8px;

        >.menu-item {
            font-size: 0.9em;
            text-transform: none;
        }
    }
}

#campus {
    background: url('../img/rodape-campus.jpg') repeat-x top;
    min-height: 80px;
    height: auto;

    p {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;

        span {
            color: #fff200;
        }
    }
}

footer {
    background: url('../img/fundo-textura.png') repeat;
    color: #fff;
    font-weight: bold;
    padding-top: @grid-gutter-width;
    padding-bottom: 15px;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .search-form {
        margin-bottom: 10px;
    }

    .social-link {
        margin-right: 5px;
    }

    #footer-logo {
        >img {
            margin-bottom: 8px;
        }
    }

    #footer-address {
        text-align: center;
        p {
            margin-bottom: 3px;
        }
    }
}

#footer-bottom {
    background-color: #fff;
    p {
        padding-top: 10px;
        text-align: center;
        font-size: 0.9em;

        a {
            color: #000;
        }
    }
}
